Django==1.6.2
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.5
django-social-auth==0.7.28
gunicorn==18.0
httplib2==0.8
oauth2==1.5.211
pystache==0.5.3
python-openid==2.2.5
static==1.0.2
wsgiref==0.1.2
