{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Welcome to Moneyball - Django Version{% endblock title %}</title>
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    </head>
    <!--<body style="background-color:#000000">-->
    <body style="background:linear-gradient(#052203, black)" height=100%>
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>			
            <div id="header">
                {% include "layout/header.html" %}
            </div>
			<div id="context">
                {% block content %}{% endblock content %}
            </div>
            <br>
            <div id="footer">
                {% include "layout/footer.html" %}
            </div>			
			{% include "layout/loginmodal.html" %}
        </body>
    </html>
    <!-- {{ debug|safe }} -->
