{% load static from staticfiles %}
{% load mytemplatetags %}
<script type="text/javascript">

// Polling for draft status.
draft_current = '';
draft_timeout = '';

</script>
<script src="{% static 'bootstrap/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery.timeout.interval.idle.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/jquery.countdown.counter.js' %}" type="text/javascript"></script>
<script src="{% static 'custom/js/jquery.endless-scroll.js' %}" type="text/javascript"></script>
<script src="{% static 'custom/js/bootstrap-typeahead-custom.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/draftpagejs.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'bootstrap/css/jquery.countdown.timer.css' %}" type="text/css" />

<div class="container" valign="top" style="padding: 0px">
    <div class="row" align="right"  style="padding: 0px">
        <div class="span9">
            <!-- left pane -->
            <div class="row" align="right"  style="padding: 0px">
                <div class="span9">
                    <table width="100%">
                        <tr id="teams-images">
                            {% for team in teams %}
                            <td>
                                {% if team %}
                                <a href=""><img id="team-image-{{ team.id }}" class="img-rounded"
                                    src="{% static 'img/team_thumbs/'%}{{ team.image_name }}"
                                    width=80></a>
                                {% else %}
                                <img class="img-rounded"
                                src="{% static 'img/team_thumbs/none.jpg'%}"
                                width=80>
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
               <div class="span3" align="left">
                    <form class="form-search" style="padding-bottom: 0px">
                        <div class="input-append">
                            <input type="text" class="input-small search-query" id="ps_query" placeholder="Player name">
                            <button type="submit" class="btn">Search</button>
                        </div>
                    </form>
                </div>
                <div class="span6 text-right">
                    <b>Filter by position: </b>
                    <div class="btn-group" id="filter-pos" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-primary btn-mini active"
                            onclick="GetPlayersByType('all', this)">All</button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('qb', this)">QB </button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('rb', this)">RB </button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('wr', this)">WR</button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('te', this)">TE</button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('k', this)">K</button>
                        <button type="button" class="btn btn-primary btn-mini"
                            onclick="GetPlayersByType('def', this)">Def</button>
                    </div>
                    {% comment %}
                    <td align=right>
                        <button class="btn btn-mini" type="button"><i class="icon-cog icon-black"></i></button>
                    </td>
                    {% endcomment %}
                </div>
            </div>
            <div class="row" align="right">
                <div class="span9" style="font-size:8pt">
                    <div id="player-list" style="height: 400px; overflow-y: scroll;">
                        <table width=100% class="table table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Add</th>
                                    <th>#</th>
                                    <th>Name, Pos., Tream</th>
                                    <th>Pts</th>
                                    <th>P-C</th>
                                    <th>P-TD</th>
                                    <th>Ru-Yds</th>
                                    <th>Ru-TD</th>
                                    <th>Rec-Yds</th>
                                    <th>Rec-TD</th>
                                    <th>KR-Yds</th>
                                    <th>KR-TD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in players|slice:":20" %}
                                <tr onclick="get_info('{{ player.player.pid }}')">
                                    <td>
                                        <a href="javascript:void(0)" onclick="addToQ('{{ player.player.pid }}')"><i class="icon-plus icon-black"></i></a>
                                    </td>
                                    <td>
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{ player.player.name }},
                                        {{ player.player.position }},
                                        {{ player.player.team.tid }}
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        {{ player.pass_comp|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.pass_td|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.run_yds|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.run_td|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.rec_yds|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.rec_td|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.kr_yds|floatformat|default:"-" }}
                                    </td>
                                    <td>
                                        {{ player.kr_td|floatformat|default:"-" }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <!-- right pane -->
            <div class="row" align="right"  style="padding: 0px">
                <div class="btn-group">
                    <button class="btn btn-small ">{{ thisLeague.name }}</button>
                    <button class="btn btn-small dropdown-toggle " data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu  pull-right ">
                        {% for oneTeam in myTeamList %}
                            <li><a href="/draft/{{ oneTeam.league.league_id }}"><b>{{ oneTeam.team_name }}</b> [{{ oneTeam.league.name }}]</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row" align="right"  style="padding: 0px">
                <div class="span3">
                    <div id="centered_div">
                        <div id="counter">
                            <div id="counter_item1" class="counter_item">
                                <div class="front"></div>
                                <div class="digit digit0"></div>
                            </div>
                            <div id="counter_item2" class="counter_item">
                                <div class="front"></div>
                                <div class="digit digit0"></div>
                            </div>
                            <div id="counter_item3" class="counter_item">
                                <div class="front"></div>
                                <div class="digit digit_colon"></div>
                            </div>
                            <div id="counter_item4" class="counter_item">
                                <div class="front"></div>
                                <div class="digit digit0"></div>
                            </div>
                            <div id="counter_item5" class="counter_item">
                                <div class="front"></div>
                                <div class="digit digit0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" style="padding: 0px">
                <div class="span3">
                    <label class="checkbox">
                        <input type="checkbox"><h4>Autodraft</h4>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Team</a></li>
                        <li><a href="#tab2" data-toggle="tab">Queue</a></li>
                          <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                Others
                                <b class="caret"></b>
                              </a>
                            <ul class="dropdown-menu">
                                {% for team in teams %}
                                    {% if team %}
                                    <li><a href="#">{{ team.team_name }}</a></li>
                                    {% else %}
                                    <vacant>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                          </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <table width=100% >
                                <tr align="right">
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <table id="srgTable" width=100%>
                                                <tr>
                                                    <td>
                                                        <table width=100%>
                                                            <tr>
                                                                <td>
                                                                    <img src="{% static 'img/team_thumbs/'%}{{ myteam.image_name }}" width=40 class="img-rounded">
                                                                </td>
                                                                <td width=%>
                                                                    <h4>{{ myteam.team_name }}</h4>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table  width=100% cellpadding=0 cellspacing=0 class="table table-condensed table-hover table-striped" id="myTeam_list" style="overflow:auto">
                                                            {% for pos, name in current_team.items %}
                                                            <tr style="row" id="tr-{{pos}}">
                                                                <td>
                                                                    &nbsp;
                                                                    <b>{{ pos }}</b>
                                                                </td>
                                                                <td width="">
                                                                    &nbsp;{{ name }}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </table>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                </td>
                            </tr>
                        </table>

                        </div>
                        <div class="tab-pane" id="tab2">
                        <div class="span3">
                            <!-- watchlist -->
                            </div>
                              <div id="listOfWatchPlayers" >
                                {% if myteam_queue %}
                                {% for player in myteam_queue %}
                                <div class="dndcontainer" name="watchPlayers" id="watchplayer-{{ player.player.pid }}" draggable=true >
                                    <table width=100% >
                                        <tr>
                                            <td width="25">
                                                <b>{{ player.player.position }}</b>
                                            </td>
                                            <td width=%>
                                                <button class="btn btn-small btn-success" onclick="addToTeam('{{ player.player.pid }}', '{{ player.player.name }}')" type="button" > {{ player.player.name }} </button>
                                            </td>
                                            <td width="25" align="right">
                                                <a><i id="deletequeue-{{ player.player.pid }}" onclick="delete_from_watchlist(this)" class='icon-minus icon-white'></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div align="center">
                                    Queue is empty!
                                </div>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                    {% with players|first as first_player %}
                    <div class="accordion-group">
                        <center>
                            <table width="" id="selected_player">
                                <tr>
                                    <td colspan="100%">
                                        <div style="color:#999999" name="name">
                                            <h4>&nbsp;{{ first_player.player.name }}</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img id="player-image" src="{% static 'img/icon/defPlayer.png' %}" width="90" class="img-rounded accordion-group">
                                    </td>
                                    <td>
                                        <div name="position">
                                            &nbsp;<b>{{ first_player.player.position }}</b>
                                        </div>
                                        <div name="team_name">
                                            &nbsp;{{ first_player.player.team.name }}
                                        </div>
                                        <div name="rank">
                                            &nbsp;Rank #1
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="100%">
                                        <div align="center">
                                            <a href="#" id="moreOnPlayer" class="btn btn-primary btn-mini" rel="popover" data-placement="left" data-content="We can show more status and news here" data-original-title="Albert Einstein">More</a>
                                            <button class="btn btn-primary btn-mini"
                                                name="addToQ" onclick="addToQ('{{ first_player.player.pid }}')">Queue</button>
                                            <button class="btn btn-success btn-mini"
                                                name="addToTeam" onclick="addToTeam('{{
                                                first_player.player.pid }}', '{{ first_player.player.name }}' )">Add</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                    {% endwith %}


<script type="text/javascript">

current_selected = {
'player_id': -1,
'name'  : "",
}

league_id = '{{ league_id }}';
addedQ = [{% for p in myteam_queue %}'{{ p.player.pid }}',{% endfor %} 0 ];
addedP = [{% for p in myteam_players %}'{{ p.player.pid }}',{% endfor %} 0 ]; //player added to your real team
benchCount = {{ bench_count }} ;

var team_ids = [{% spaceless %}
           {% for t in teams %}
           {% if t %}
           {{ t.id }},
           {% endif %}
           {% endfor %}
           {% endspaceless %}];
normalWidth = {{ normalWidth }}

// Player listing
var player_query = false;
var player_type = 'all';
var player_sort = 'name';
var player_page = 1;

$(window).ready(function() {
    p = $('#player-list')
    w = $(window)
    h_old = p.height();
    h = Math.floor(w.height() - p.position().top - 60);

    //p.height(h);
    p.slimScroll({height: h+'px'});
    w.height(w.height()-h+h_old);
    CheckSize();

    $('#player-list').scroll(function() {
        h = $('#player-list table').height() - $(this).height() - 40;
        if($(this).scrollTop() >= h) {
            //Do something
            //console.log('Insert now. Offset: ' + $(this).scrollTop());
            AddPlayers('','','next');
        }
    });

    // Typeahead.
    $('#ps_query').typeahead({
        strings: false,
        property: 'name',
        source: PlayerSearch,
        items: 10,
        onselect: PlayerSearchUpdater,
    });
});

</script>
