{% load static from staticfiles %}

<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery.slimscroll.min.js' %}"></script>
<br>
<center>
	<table width=1000>
		<tr >
			<td Width=300 valign=top >
                <div style=" color:#0088CC" >
                    <h3>Draft Order
                    {% if thisLeague.league_owner == me %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit" formmethod="post" onclick="save_draftorder('{{ draft_room_id }}')" name="saveOrder" value="Save Order">SaveOrder</button>
                    {% endif %}
                    </h3>
                </div>
				<div id="listOfTeams" >
					<font color="#999999">
					<table width=100% valign=top >
                       {% for team in draft_order %}
                       <tr>
                           <td>
                                &nbsp;
                           </td>
                           <td width="30">
                                <h4>#{{ forloop.counter }}</h4>
                           </td>
                           <td >
                           {% if thisLeague.league_owner == me %}
                               <div class="srgtest" name="teams" id="team-{{ forloop.counter }}" draggable="true" >
                           {% else %}
                                <div name="teams" id="team-{{ forloop.counter }}">
                           {% endif %}
                               <table width="100%">
                                   <tr>
                                       {% if team %}
                                           <td width="40">
                                                <img src="{% static 'img/tiger.jpg' %}" width=35 class="img-rounded">
                                           </td>
                                           <td width="%" >
                                               <h5 id="tid-{{ team.id }}">&nbsp;{{ team.team_name }}</h5>
                                            </td>
                                           <td width="50">
                                                {% if thisLeague.league_owner == me %}
                                                    <button id="remove-{{ forloop.counter }}" class="btn btn-mini btn-danger"><i class='icon-minus icon-white'></i></button>
                                                {% endif %}
                                           </td>
                                       {% else %}
                                            <td width="40">
                                                <img src="{% static 'img/no_photo.png' %}" width=35 class="img-rounded">
                                            </td>
                                            <td width="%" >
                                                <h5 id="tid-0">&lt; Vacant &gt; </h5>
                                            </td>
                                           <td width="50">
                                                <button id="switch-{{ forloop.counter }}" class="btn btn-mini btn-success"><i class='icon-plus icon-white'></i></button>
                                           </td>
                                       {% endif %}
                                   </tr>
                               </table>
                           </div>
                           </td>
                       </tr>
                       {% endfor %}
					</table>
					</font>
				</div>
                <div>
                    {% if thisLeague.league_owner == me %}
                        <center><h6 style=" color:#999999"><i>Drag and drop to change draft order</i></h6></center>
                    {% endif %}
                </div>

            </td>
			<td valign=top width=700>			
				<font color="#999999">
				<table width=100%>
					<tr valign="top" >
						<td>
                            <table width="100%">
                                <tr valign="top">
                                    <td align="left">
			                            <button class="btn btn-large btn-primary" type="button">Invite Others</button>
                                        {% if thisLeague.league_owner == me %}
                                        <button class="btn btn-large btn-danger" type="button">Delete Room</button>
                                        {% else %}
                                        <button class="btn btn-large btn-danger" type="button">Leave Room</button>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                        <img src="{% static 'img/clock.jpg' %}" class="img-rounded">
                                        <font color="#ffffff">
                                            <br>
                                            Draft starts in 9 min
                                        </font>
                                    </td>
                                </tr>
                            </table>
						</td>
					</tr>
					<tr>
						<td>
						<div class="accordion" id="accordion3">
						  <div class="accordion-group">
							<div class="accordion-heading">
							  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#leftcollapseOne">
								<h4>General Draft Settings</h4>
							  </a>
							</div>
							<div id="leftcollapseOne" class="accordion-body collapse in">
							  <div class="accordion-inner">
								<form name="general-settings" class="form-horizontal">
                                    {% csrf_token %}
									<br>
                                    <div class="control-group">
                                        <label class="control-label" for="lName" name="lName">League Name</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <input type="text" id="lName" name="lName" value="{{ thisLeague.name}}">
                                        {% else %}
                                            <label class="control-label" id="lNameNE">{{ thisLeague.name}}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% if thisLeague.password != "" %}
                                    {% if thisLeague.league_owner == me %}
                                    <div class="control-group">
                                        <label class="control-label" for="entryKey">Secret Entry Key</label>
                                        <div class="controls">
                                            <input type="text" id="entryKey" name="entryKey" value="{{ thisLeague.password}}">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    <div class="control-group " align=left>
                                        <label class="control-label" for="teamCount">Teams</label>
                                        <div class="controls " id="teamCount">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team6" value="6" {% if thisLeague.settings.number_of_teams == 6 %} checked {% endif %} >
                                                6
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team8" value="8" {% if thisLeague.settings.number_of_teams == 8 %} checked {% endif %}>
                                                8
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team10" value="10" {% if thisLeague.settings.number_of_teams == 10 %} checked {% endif %}>
                                                10
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team12" value="12" {% if thisLeague.settings.number_of_teams == 12 %} checked {% endif %}>
                                                12
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team14" value="14" {% if thisLeague.settings.number_of_teams == 14 %} checked {% endif %}>
                                                14
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.number_of_teams }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group" align=left>
                                        <label class="control-label" for="LeagueType">League Type</label>
                                        <div class="controls" id="LeagueType">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="leagueTypeName" id="LeagueType1" value="STD" {% if thisLeague.settings.league_type == 'STD' %} checked {% endif %}>
                                                Standard
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="leagueTypeName" id="LeagueType2" value="PPR" {% if thisLeague.settings.league_type == 'PPR' %} checked {% endif %}>
                                                PPR
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">
                                                {% if thisLeague.settings.league_type == 'STD' %}
                                                    Standard
                                                {% else %}
                                                    PPR
                                                {% endif %}
                                            </label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group" align=left>
                                        <label class="control-label" for="draftType">Draft Type</label>
                                        <div class="controls" id="draftType">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="draftTypeName" id="draftType1" value="S" {% if thisLeague.settings.draft_type == 'S' %} checked {% endif %}>
                                              Snake
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="draftTypeName" id="draftType2" value="L" {% if thisLeague.settings.draft_type == 'L' %} checked {% endif %}>
                                              Cycle
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="drafTypetNE">
                                                {% if thisLeague.settings.draft_type == 'S' %}
                                                    Snake
                                                {% else %}
                                                    Cycle
                                                {% endif %}
                                            </label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="draftTime">Draft Time</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <div id="draftTime" class="input-append">
                                                <input name="draftDateName" data-format="yyyy-MM-dd HH:MM" type="text" value="{{ thisLeague.settings.draft_date|date:'Y-m-d H:i' }}"></input>
                                                <span class="add-on">
                                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                  </i>
                                                </span>
                                            </div>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.draft_date|date:"M-d H:m:s" }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="pickTime">Pick Time</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <input type="text" id="pickTime" name="pickTime" value=" {{ thisLeague.settings.seconds_per_pick }} ">
                                        {% else %}
                                            <label class="control-label" id="pickTimeNE">{{ thisLeague.settings.seconds_per_pick }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% if thisLeague.league_owner == me %}
                                    <div class="control-group">
                                         <div class="controls">
                                            <button type="submit" class="btn btn-primary" formmethod="post" onclick="save_draftorder('{{ draft_room_id }}');" >Save</button>
                                            <button type="submit" class="btn btn-primary" formmethod="post" onsubmit="settings_reset(this)">Reset</button>
                                         </div>
                                    </div>
                                    {% endif %}
								</form>								
							  </div>
							</div>
						  </div>
						  <div class="accordion-group">
							<div class="accordion-heading">
							  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#leftcollapseTwo">
								<h4>Advanced Settings</h4>
							  </a>
							</div>
							<div id="leftcollapseTwo" class="accordion-body collapse">
							  <div class="accordion-inner">
								<form class="form-horizontal" name="advanced-settings">
									<br>
									<div id="stdLoginCtl">
										<div class="control-group">
											<label class="control-label" for="s1">Setting 1</label>
											<div class="controls">
												<input type="text" id="s1" placeholder="Setting">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="s2">Setting 2</label>
											<div class="controls">
												<input type="text" id="s2" placeholder="Setting">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="s3">Setting 3</label>
											<div class="controls">
												<input type="text" id="s3" placeholder="Setting">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="s4">Setting 4</label>
											<div class="controls">
												<input type="text" id="s4" placeholder="Setting">
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
                                            <button type="submit" class="btn btn-primary" >Save</button>
                                            <button type="submit" class="btn btn-primary" >Reset</button>
											</div>
										</div>
									</div>
								</form>
							  </div>
							</div>
						  </div>
						</div>
						</td>
					</tr>
				</table>
                </font>
			</td>
		</tr>
	</table>
</center>

<script type="text/javascript">

var dragSrcEl = null;

function handleDragStart(e) {
  //this.style.opacity = '0.4';  // this / e.target is the source node.
  dragSrcEl = this;
  e.dataTransfer.effectAllowed = 'move';
  e.dataTransfer.setData('text/html', this.innerHTML);
}
function handleDragOver(e) {
  if (e.preventDefault) {
    e.preventDefault(); // Necessary. Allows us to drop.
  }
  e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.
  return false;
}

function handleDragEnter(e) {
  // this / e.target is the current hover target.
  this.classList.add('over');
}

function handleDragLeave(e) {
  this.classList.remove('over');  // this / e.target is previous target element.
}

function handleDrop(e) {
  // this/e.target is current target element.

  if (e.stopPropagation) {
    e.stopPropagation(); // Stops some browsers from redirecting.
  }

  // Don't do anything if dropping the same column we're dragging.
  if (dragSrcEl != this) {
    // Set the source column's HTML to the HTML of the column we dropped on.
    dragSrcEl.innerHTML = this.innerHTML;
    this.innerHTML = e.dataTransfer.getData('text/html');
  }
  $('button[name=saveOrder]').html('SaveOrder')
  return false;
}

function handleDragEnd(e) {
  // this/e.target is the source node.

  [].forEach.call(cols, function (col) {
    col.classList.remove('over');
  });
  $('button[name=saveOrder]').html('SaveOrder')
}

var cols = document.querySelectorAll('#listOfTeams .srgtest');
[].forEach.call(cols, function(col) {
  col.addEventListener('dragstart', handleDragStart, false);
  col.addEventListener('dragenter', handleDragEnter, false);
  col.addEventListener('dragover', handleDragOver, false);
  col.addEventListener('dragleave', handleDragLeave, false);
  col.addEventListener('drop', handleDrop, false);
  col.addEventListener('dragend', handleDragEnd, false);
});


  $(function() {
    $('#draftTime').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>

<script>
$(function(){
    $('#listOfTeams').slimScroll({
		height: '500px',
		width: 'auto',
		alwaysVisible: false,
		railVisible: true,
		size: '9px',
		color: '#ffffff',	
		railColor: '#999999',	
		disableFadeOut: false
    });
});


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function settings_save( e ) {
   $('form[name=general-settings]').submit( 
       function(event) {
        alert($("input:first").val())
       }
    )
    return true;
}

function save_draftorder( page_id ) {
    a=[]
//    $('.saveOrder').click(function () {
    teams = [];
    $.each($('h5[id^=tid]'), function(i, v) {
          teams[i] = $(v).attr('id');
    });
    if ( $('button[name=saveOrder]').html()=="Saved") {
    return false;
    }
        $.ajax({
            type: "POST",
            url: page_id,
            dataType: "json",
            data: {'draft_order' : JSON.stringify(teams)},
            success: function (response) {
               $('button[name=saveOrder]').html('Saved');
               return true;
            },
            error: function (msg) {
                //alert("Error while calling web service," + msg.Message);
            }
        });

//    });
}

</script>
