{% load static from staticfiles %}

<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>

<script src="{% static 'bootstrap/js/jquery.slimscroll.min.js' %}"></script>	
<br>
<center>
	<table width=1000>
		<tr>
			<td Width=300 valign=top >
				<div id="listOfRooms" >
					<font color="#999999">
					<table width=100% class="table-hover">
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#1</h4>
							</td>
							<td>					
								<img src="{% static 'img/tiger.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Royal Bengal Tiger </h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#2</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/1.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Jae Lee</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#3</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/2.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Another Packer Fan</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#4</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/3.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Roman Army</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#5</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/4.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>ChrisZ</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#6</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/5.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Knight Rider</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#7</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/6.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Taco</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#8</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/7.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Pay Me</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#9</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/8.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>$$$Baller</h4>		
							</td>
						</tr>
						<tr>
							<td>
								&nbsp;
							</td>
							<td>
								<h4>#10</h4>
							</td>
							<td>					
								<img src="{% static 'img/helmets/9.jpg' %}" width=50 class="img-rounded">
							</td>
							<td >			
								<h4>Another Team</h4>		
							</td>
						</tr>
					</table>
					</font>
				</div>
			</td>
			<td valign=top width=700>			
				<font color="#999999">
                {% for thisLeague in myLeague %}
				<table width=100%>
					<tr >
						<td align=right>
                            <table width="100%">
                                <tr>
                                    <td>
			                            <button class="btn btn-large btn-primary" type="button">Invite Others</button>
                                    </td>
                                    <td>
                                        {% if thisLeague.league_owner == me %}
                                        <button class="btn btn-large btn-primary" type="button">Delete Room</button>
                                        {% endif %}
                                    </td>
                                    <td align="right">
                                        <img src="{% static 'img/clock.jpg' %}" class="img-rounded">
                                        <font color="#ffffff">
                                            <br>
                                            Draft starts in 9 min
                                        </font>
                                    </td>
                                </tr>
                            </table>
						</td>
					</tr>
					<tr>
						<td>
						<div class="accordion" id="accordion3">
						  <div class="accordion-group">
							<div class="accordion-heading">
							  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#leftcollapseOne">
								<h4>General Draft Settings</h4>
							  </a>
							</div>
							<div id="leftcollapseOne" class="accordion-body collapse in">
							  <div class="accordion-inner">
								<form class="form-horizontal">
									<br>
                                    <div class="control-group">
                                        <label class="control-label" for="lName">League Name</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <input type="text" id="lName" name="lName" value="{{ thisLeague.name}}">
                                        {% else %}
                                            <label class="control-label" id="lNameNE">{{ thisLeague.name}}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% if thisLeague.password != "" %}
                                    {% if thisLeague.league_owner == me %}
                                    <div class="control-group">
                                        <label class="control-label" for="entryKey">Secret Entry Key</label>
                                        <div class="controls">
                                            <input type="text" id="entryKey" name="entryKey" value="{{ thisLeague.password}}">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                    <div class="control-group " align=left>
                                        <label class="control-label" for="teamCount">Teams</label>
                                        <div class="controls " id="teamCount">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team6" value="6" {% if thisLeague.settings.number_of_teams == 6 %} checked {% endif %} >
                                                6
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team8" value="8" {% if thisLeague.settings.number_of_teams == 8 %} checked {% endif %}>
                                                8
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team10" value="10" {% if thisLeague.settings.number_of_teams == 10 %} checked {% endif %}>
                                                10
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team12" value="12" {% if thisLeague.settings.number_of_teams == 12 %} checked {% endif %}>
                                                12
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="teamCountName" id="team14" value="14" {% if thisLeague.settings.number_of_teams == 14 %} checked {% endif %}>
                                                14
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.number_of_teams }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group" align=left>
                                        <label class="control-label" for="LeagueType">League Type</label>
                                        <div class="controls" id="LeagueType">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="leagueTypeName" id="LeagueType1" value="STD" {% if thisLeague.settings.league_type == 'STD' %} checked {% endif %}>
                                                Standard
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="leagueTypeName" id="LeagueType2" value="PPR" {% if thisLeague.settings.league_type == 'PPR' %} checked {% endif %}>
                                                PPR
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.league_type }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group" align=left>
                                        <label class="control-label" for="draftType">Draft Type</label>
                                        <div class="controls" id="draftType">
                                        {% if thisLeague.league_owner == me %}
                                            <label class="radio inline">
                                              <input type="radio" name="draftTypeName" id="draftType1" value="S" {% if thisLeague.settings.draft_type == 'S' %} checked {% endif %}>
                                              Snake
                                            </label>
                                            <label class="radio inline">
                                              <input type="radio" name="draftTypeName" id="draftType2" value="L" {% if thisLeague.settings.draft_type == 'L' %} checked {% endif %}>
                                              Linear
                                            </label>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.draft_type }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="draftTime">Draft Time</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <div id="draftTime" class="input-append">
                                                <input name="draftDateName" data-format="yyyy-MM-dd HH:MM:ss" type="text" value="{{ thisLeague.settings.draft_date }}"></input>
                                                <span class="add-on">
                                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                  </i>
                                                </span>
                                            </div>
                                        {% else %}
                                            <label class="control-label" id="teamCountNE">{{ thisLeague.settings.draft_date|date:"M-d H:m:s" }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="pickTime">Pick Time</label>
                                        <div class="controls">
                                        {% if thisLeague.league_owner == me %}
                                            <input type="text" id="pickTime" name="pickTime" value=" {{ thisLeague.settings.seconds_per_pick }} ">
                                        {% else %}
                                            <label class="control-label" id="pickTimeNE">{{ thisLeague.settings.seconds_per_pick }}</label>
                                        {% endif %}
                                        </div>
                                    </div>
                                    {% if thisLeague.league_owner == me %}
                                    <div class="control-group">
                                         <div class="controls">
                                            <button type="submit" class="btn btn-primary" formmethod="post">Save</button>
                                            <button type="submit" class="btn btn-primary" formmethod="post">Reset</button>
                                         </div>
                                    </div>
                                    {% endif %}
								</form>								
							  </div>
							</div>
						  </div>
						  <div class="accordion-group">
							<div class="accordion-heading">
							  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#leftcollapseTwo">
								<h4>Advanced Settings</h4>
							  </a>
							</div>
							<div id="leftcollapseTwo" class="accordion-body collapse">
							  <div class="accordion-inner">
								<form class="form-horizontal">
									<br>
									<div id="stdLoginCtl">
										<div class="control-group">
											<label class="control-label" for="inputEmail">Email</label>
											<div class="controls">
												<input type="text" id="inputEmail" placeholder="Email">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputPassword">Password</label>
											<div class="controls">
												<input type="password" id="inputPassword" placeholder="Password">
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<label class="checkbox">
													<input type="checkbox"> <i>Remember me</i>
												</label>
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button type="submit" class="btn btn-primary">Sign in</button>
											</div>
										</div>
									</div>
									<div id="newUserCtl">
										<div class="control-group">
											<label class="control-label" for="inputEmail">Email</label>
											<div class="controls">
												<input type="text" id="inputEmail" placeholder="Email">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputPassword">Password</label>
											<div class="controls">
												<input type="password" id="inputPassword" placeholder="Password">
											</div>
										</div>
										<div class="control-group">
											<label class="control-label" for="inputPassword">Retype Password</label>
											<div class="controls">
												<input type="password" id="inputPassword" placeholder="Password">
											</div>
										</div>
										<div class="control-group">
											<div class="controls">
												<button type="submit" class="btn btn-primary">Sign Up</button>
											</div>
										</div>
									</div>
								</form>
							  </div>
							</div>
						  </div>
						</div>
						</td>
					</tr>
				</table>
                {% endfor %}
                </font>
			</td>
		</tr>
	</table>
</center>

{{ draft_order }}


<script type="text/javascript">
  $(function() {
    $('#draftTime').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>


<script>
$(function(){
    $('#listOfRooms').slimScroll({
		height: '600px',
		width: 'auto',
		alwaysVisible: false,
		railVisible: true,
		size: '9px',
		color: '#ffffff',	
		railColor: '#999999',	
		disableFadeOut: false
    });
});
</script>