{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Welcome to Moneyball{% endblock %}

{% block content %}
<table width=100% height=100%>
	<tr>
		<td width=25% height=100% valign=top align=center>
			{% if logged_in %}
			<div class="accordion" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							<h4>News & Updates</h4>
						</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse in">
						<div class="accordion-inner">
							<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
							<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
							<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
							<p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
							<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							<h4>My Teams</h4>
						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse">
						<div class="accordion-inner">

							<table width=100% >
								<tr>
									<td>					
										&nbsp;
										<img src="{% static 'img/helmets/1.jpg' %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-success" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>					
										&nbsp;			
										<img src="{% static 'img/helmets/1.jpg' %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-warning" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>				
										&nbsp;				
										<img src="{% static 'img/helmets/2.jpg' %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-warning" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>				
										&nbsp;				
										<img src="{% static 'img/helmets/3.jpg' %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn btn-danger" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>					
										&nbsp;			
										<img src="{% static 'img/helmets/4.jpg' %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-danger" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>					
										&nbsp;			
										<img src="{% static "img/helmets/5.jpg" %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-danger" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>					
										&nbsp;			
										<img src="{% static "img/helmets/6.jpg" %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-danger" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
								<tr>
									<td>					
										&nbsp;			
										<img src="{% static "img/helmets/7.jpg" %}" width=45 class="img-rounded">
									</td>
									<td width=%>			
										<button class="btn  btn-danger" type="button" draggable="true">Some Player</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							<h4>Statistics</h4>
						</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse">
						<div class="accordion-inner">

							There's a temptation to overreact when a player as charismatic and furious as Steve Smith changes teams. And now that he's joined a squad that won the Super Bowl just a season ago, watch out. But having reviewed his 2013 game tape, I have to say: I'm underwhelmed.
							<br>
							I should preface this by saying Smith has been one of my favorite players for years. It's borderline ridiculous that a 5-foot-9 (ahem: he's shorter than that), 185-pound receiver has seven 1,000-yard seasons and 67 career TDs operating almost exclusively on the outside. He has been a force of nature. But he's also slowing down. He still has the power and frenzy to get off the line against most corners, but he isn't open as frequently, especially deep. He didn't gain more than 23 yards on any reception until Week 11, and I couldn't find a single play out of his 64 grabs where he produced more than about 15 yards after the catch.


						</div>
					</div>
				</div>
			</div>
			{% else %}
			<br>
			<br>
			<div>
				<button class="btn btn-large btn-inverse" type="button"><i class="icon-th-list icon-white"></i>&nbsp;&nbsp;Mock Draft</button>
			</div>
			<br>
			<br>
			<div>
				<button class="btn btn-large btn-inverse" type="button"><i class="icon-play icon-white"></i>&nbsp;&nbsp;See Demo</button>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div>
				<button class="btn btn-large btn-info" type="button" href="#myModal" data-toggle="modal">Sign Up Now!</button>
			</div>
			{% endif %}
		</td>
		<td width=50% height=100%>
			<div class="bs-docs-example" >
				<center>
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-inner">
							<div class="item">
								<img src="{% static "img/wall/1.jpg" %}" width="85%" alt="">
								<div class="carousel-caption">
									<h4>First USP</h4>
									<p>This is where we tell you why we are better have have a better solution that you should take advantage of! Cheers!!!</p>
								</div>
							</div>
							<div class="item active">
								<img src="{% static "img/wall/2.jpg" %}" width="85%" alt="">
								<div class="carousel-caption">
									<h4>Second USP</h4>
									<p>This is where we tell you why we are better have have a better solution that you should take advantage of! Cheers!!!</p>
								</div>
							</div>
							<div class="item">
								<img src="{% static "img/wall/3.jpg" %}" width="85%" alt="">
								<div class="carousel-caption">
									<h4>First USP</h4>
									<p>This is where we tell you why we are better have have a better solution that you should take advantage of! Cheers!!!</p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'img/wall/4.jpeg' %}" width="85%" alt="">
								<div class="carousel-caption">
									<h4>First USP</h4>
									<p>This is where we tell you why we are better have have a better solution that you should take advantage of! Cheers!!!</p>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</center>
			</div>
		</td>
		<td width=25% height=100%>
			<img src="{% static 'img/wall/superbowl.png' %}" width=100%>

		</td>
	</tr>
	</table>


{% endblock content %}