{% load static from staticfiles %}
{% if logged_in %}
<link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
<!-- ###### Modal login begin ###### -->
<div id="leagueConfig" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Create Mock Draft Room</h3>
    </div>
    <form class="form-horizontal" action="create/" id="create_league_form" method="post">
      {% csrf_token %}
      <br>
        <div class="control-group">
            <label class="control-label" for="leagueName">League Name</label>
            <div class="controls">
                <input type="text" name="leagueName" id="leagueName" placeholder="League Name">

                <label class="checkbox">
                    <input type="checkbox" id="isPrivate" name=id="isPrivate"> <i>Private</i>
                </label>
            </div>
        </div>
		<div id="privateOptions" style="display:none;">
			<div class="control-group">
				<label class="control-label" for="entryKey">Secret Entry Key</label>
				<div class="controls">
					<input type="text" id="entryKey" name="entryKey" placeholder="Secret">
				</div>
			</div>
		</div>
        <div class="control-group">
            <label class="control-label" for="teamName">Team Name</label>
            <div class="controls">
                <input type="text" name="teamName" id="teamName" placeholder="Team Name">
            </div>
        </div>
		<div class="control-group " align=left>
			<label class="control-label" for="teamCount">Teams</label>
			<div class="controls " id="teamCount">
				<label class="radio inline">
				  <input type="radio" name="teamCountName" id="team6" value="6" >
					6
				</label>
				<label class="radio inline">
				  <input type="radio" name="teamCountName" id="team8" value="8" >
					8
				</label>
				<label class="radio inline">
				  <input type="radio" name="teamCountName" id="team10" value="10" checked>
					10
				</label>
				<label class="radio inline">
				  <input type="radio" name="teamCountName" id="team12" value="12">
					12
				</label>
				<label class="radio inline">
				  <input type="radio" name="teamCountName" id="team14" value="14">
					14
				</label>
			</div>
		</div>
		<div class="control-group" align=left>
			<label class="control-label" for="LeagueType">League Type</label>
			<div class="controls" id="LeagueType">
				<label class="radio inline">
				  <input type="radio" name="leagueTypeName" id="LeagueType1" value="STD" checked>
					Standard
				</label>
				<label class="radio inline">
				  <input type="radio" name="leagueTypeName" id="LeagueType2" value="PPR">
					PPR
				</label>
			</div>
		</div>
		<div class="control-group" align=left>
			<label class="control-label" for="draftType">Draft Type</label>
			<div class="controls" id="draftType">
				<label class="radio inline">
				  <input type="radio" name="draftTypeName" id="draftType1" value="S" checked>
				  Snake
				</label>
				<label class="radio inline">
				  <input type="radio" name="draftTypeName" id="draftType2" value="L">
				  Linear
				</label>
			</div>
		</div>
        <div class="control-group">
            <label class="control-label" for="draftTime">Draft Time</label>
            <div class="controls">
                <div id="draftTime" class="input-append">
                    <input name="draftDateName" data-format="yyyy-MM-dd HH:MM:ss" type="text"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-footer" align="right">
            <div class="controls">
                <button type="submit" class="btn btn-primary" onclick="$('input[name=draftDateName]')" formmethod="post">Create Room</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
$(function() {
    $('#draftTime').datetimepicker({
      language: 'en',
      pick12HourFormat: false,
      pickSeconds: false,
      maskInput: true,
      startDate: new Date()
  });
});

$(document).ready(function(){

	$('#leagueConfig').on('show', function () {
		$(privateOptions).hide();
	})
	$('#isPrivate').click(function() {
		var $this = $(this);
		if ($this.is(':checked')) {
			$(privateOptions).show();
		} else {
			$(privateOptions).hide();
		}
	})
});
</script>
<!-- ###### Modal login end ###### -->
{% endif %}
