{% load static from staticfiles %}
<br>
<center>

<table width=1000>	
	<tr>
		<td colspan=6 align=left>
			<input type="text" class="search-query span3" data-provide="typeahead" placeholder="Search Mock Draft Rooms"><br><br>
		</td>
		<td rowspan=100% width=10>
			&nbsp;		
		</td>
		<td width=200 rowspan=100% valign=top align=left>
			<button class="btn btn-large btn-primary" type="button">Create Room</button>		
			<br>	
			<br>
			<button class="btn btn-large btn-primary" type="button">Go To Room</button>			
			<br>	
			<br>
			<button class="btn btn-large btn-primary" type="button">Invite Others</button>	
			<br>	
			<br>	
			<br>	
			<br>
			<font color="#999999">				
			<div class="control-group" align=left>
				<label class="control-label" ><i><b>Filter Rooms</b></i></label>
				<div class="controls">
					<label class="checkbox">
					  <input type="checkbox" value="" checked>
					  Standard
					</label>
					<label class="checkbox">
					  <input type="checkbox" value="" checked>
					  Standard PPR
					</label>
					<label class="checkbox">
					  <input type="checkbox" value="">
					  Auction
					</label>
					<label class="checkbox">
					  <input type="checkbox" value="">
					  Auction PPR
					</label>
					<label class="checkbox">
					  <input type="checkbox" value="">
					  Pool
					</label>
				</div>
			</div>
			</font>
		</td>
	</tr>
	<tr valign=middle>
		<td width=800 valign=middle>
			<div class="alert ">
				<table width=100%>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<h4>&nbsp;Draft Room 1</h4>
						</td>
						<td width=125>
							ID: [23423334]
						</td>
						<td width=75>
							Standard
						</td>
						<td width=50>
							3/10
						</td>
						<td width=125>
							Begins in 2:45
						</td>
						<td align=right width=160>
							<button class="btn btn btn-primary" type="button"><i class="icon-plus icon-white"></i>&nbsp;Join</button>
							<button class="btn btn btn-primary" type="button"><i class="icon-eye-open icon-white"></i>&nbsp;Watch</button>
						</td>
					</tr>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
				</table>							
			</div>
		</td>
	</tr>
	<tr valign=middle>
		<td width=800 valign=middle>
			<div class="alert ">
				<table width=100%>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<h4>&nbsp;Party@MoJo223</h4>
						</td>
						<td width=125>
							ID: [23423334]
						</td>
						<td width=75>
							Standard
						</td>
						<td width=50>
							3/10
						</td>
						<td width=125>
							Begins in 2:45
						</td>
						<td align=right width=160>
							<button class="btn btn btn-primary" type="button"><i class="icon-plus icon-white"></i>&nbsp;Join</button>
							<button class="btn btn btn-primary" type="button"><i class="icon-eye-open icon-white"></i>&nbsp;Watch</button>
						</td>
					</tr>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
				</table>							
			</div>
		</td>
	</tr>
	<tr valign=middle>
		<td width=800 valign=middle>
			<div class="alert ">
				<table width=100%>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<h4>&nbsp;New Hires</h4>
						</td>
						<td width=125>
							ID: [23423334]
						</td>
						<td width=75>
							Standard
						</td>
						<td width=50>
							3/10
						</td>
						<td width=125>
							Begins in 2:45
						</td>
						<td align=right width=160>
							<button class="btn btn btn-primary" type="button"><i class="icon-plus icon-white"></i>&nbsp;Join</button>
							<button class="btn btn btn-primary" type="button"><i class="icon-eye-open icon-white"></i>&nbsp;Watch</button>
						</td>
					</tr>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
				</table>							
			</div>
		</td>
	</tr>
	<tr valign=middle>
		<td width=800 valign=middle>
			<div class="alert ">
				<table width=100%>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<h4>&nbsp;Draft Room 2</h4>
						</td>
						<td width=125>
							ID: [23423334]
						</td>
						<td width=75>
							Standard
						</td>
						<td width=50>
							3/10
						</td>
						<td width=125>
							Begins in 2:45
						</td>
						<td align=right width=160>
							<button class="btn btn btn-primary" type="button"><i class="icon-plus icon-white"></i>&nbsp;Join</button>
							<button class="btn btn btn-primary" type="button"><i class="icon-eye-open icon-white"></i>&nbsp;Watch</button>
						</td>
					</tr>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
				</table>							
			</div>
		</td>
	</tr>
	<tr valign=middle>
		<td width=800 valign=middle>
			<div class="alert ">
				<table width=100%>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<h4>&nbsp;To the Bowl</h4>
						</td>
						<td width=125>
							ID: [23423334]
						</td>
						<td width=75>
							Standard
						</td>
						<td width=50>
							3/10
						</td>
						<td width=125>
							Begins in 2:45
						</td>
						<td align=right width=160>
							<button class="btn btn btn-primary" type="button"><i class="icon-plus icon-white"></i>&nbsp;Join</button>
							<button class="btn btn btn-primary" type="button"><i class="icon-eye-open icon-white"></i>&nbsp;Watch</button>
						</td>
					</tr>
					<tr>
						<td colspan=100%>
							&nbsp;
						</td>
					</tr>
				</table>							
			</div>
		</td>
	</tr>
</table>
</center>