{% load static from staticfiles %}
<br>
<center>
<font color="#999999">
<table width=800 class="table table-condensed table-bordered sortable" style="background-color:#181818">														
	<tr bgcolor="#484848">
	  <th>Draft ID</th>
	  <th>Name</th>
	  <th>Type</th> 
	  <th>Attendance</th>
	  <th>Begins in</th>
	  <th>Action</th>
	</tr>
	<tr>
		<td>
			1
		</td>
		<td>
			ToTheBowl
		</td>
		<td>
			Standard
		</td>
		<td>
			3/10
		</td>
		<td>
			2:34
		</td>
		<td>
			<button class="btn btn-large btn-primary" type="button">Large button</button>
		</td>
	</tr>
	</tr>
</table>
		  
</font>
</center>