{% load static from staticfiles %}
	<br>
	<br>
	<br>	
<center>
<table width="600" style="background-color:#000000">		
	<tr>
		<td>
			<table class="table table-hover" style="background-color:#000000">
				<tr>
					<td >
						Name
					</td>
					<td >
						Saikat Raphael Gomes
					</td>
				</tr>
				<tr>
					<td >
						Username
					</td>
					<td >
						saikatgomes
					</td>
				</tr>
				<tr>
					<td >
						Email
					</td>
					<td >
						saikatgomes@gmail.com
					</td>
				</tr>
				<tr>
					<td >
						Password
					</td>
					<td >
						Moneyball
					</td>
				</tr>
			</table>
		</td>
		<td valign=middle align=center>
			<img src="{% static 'img/tiger.jpg' %}" class="img-rounded">
			<br>
			<a href="#">Change Picture</a>
		</td>
	</tr>
</table>
</center>

