
	<br>
	<br>
	<br>
	<center>
	<font color="#555555">
	<table width="700">
		<tr>
			<td>
				<table class="table table-hover table-bordered">
					<tr>
						<td width=20%>
							Name
						</td>
						<td width=80%>
							Saikat Raphael Gomes
						</td>
					</tr>
					<tr>
						<td width=20%>
							Username
						</td>
						<td width=80%>
							saikatgomes
						</td>
					</tr>
					<tr>
						<td width=20%>
							Email
						</td>
						<td width=80%>
							saikatgomes@gmail.com
						</td>
					</tr>
					<tr>
						<td width=20%>
							Password
						</td>
						<td width=80%>
							Moneyball
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</font>		